<a href="https://colab.research.google.com/github/z3tr-aut/ANN/blob/main/ANN_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=5
b=10
sum = a+b
diff = a-b
multi = a*b
div = a/b
print("Sum=", sum)
print("dif=", diff)
print("multi=", multi)
print("div=", div)
print(f"the sum of the numbers {a},{b} is {sum}")
print(f"the diff of the numbers {a},{b} is {diff}")
print(f"the multi of the numbers {a},{b} is {multi}")
print(f"the div of the numbers {a},{b} is {div}")

Sum= 15
dif= -5
multi= 50
div= 0.5
the sum of the numbers 5,10 is 15
the diff of the numbers 5,10 is -5
the multi of the numbers 5,10 is 50
the div of the numbers 5,10 is 0.5

In [11]:
x = 27//8
print(x)
y = 29//4
print(y)
s = 50%12
print(s)

3
7
2

In [12]:
#boolean variables
x =10
y =20
is_greater = x>y
is_equal = x==y
is_not_equal = x !=y
print("is x greater than y?",is_greater)
print("is x equal to y?",is_equal)
print("is x not equal to y?",is_not_equal)

is x greater than y? False
is x equal to y? False
is x not equal to y? True

In [20]:
#variable assignment
name = "abdelrhman"
age = 20
is_student = True
print(f"{name} his age is {age} ,is he a student in aut?{is_student}")

abdelrhman his age is 20 ,is he a student in aut?True

In [30]:
def hello(name):
 return "hello " + name +" !"
my_name = input("enter ur name:")
hello(my_name)

enter ur name:abod'

"hello abod' !"

In [43]:
def add_numbers(a,b):
   return a+b
a = eval(input("enter first number"))
b = eval(input("enter secound number"))
sum_value = add_numbers(a,b)
print(f"the sum of the numbers {a} , {b} = ,{sum_value}")

enter first number2.1
enter secound number2.1
the sum of the numbers 2.1 , 2.1 = ,4.2

In [44]:
#strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring =message[7:12]

print("Original message: ", message)
print("The length is: ", length)
print("Upper case:", uppercase)
print("Lower case: ", lowercase)
print("ParTof the message is: ", substring)

Original message:  Hello, World
The length is:  12
Upper case: HELLO, WORLD
Lower case:  hello, world
ParTof the message is:  World

In [46]:
# Basic input example
First = input("Enter the last name, first name: ")
Last = input("Enter the last name, last name: ")

print(f"{First},{Last}")

Enter the last name, first name: abd
Enter the last name, last name: quran
abd,quran

In [47]:
# Numeric input example
age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 20
You will be 21 years old next year.

In [48]:
# Calculations with input

num1= float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
sum_result = num1 + num2
print("Sum:", sum_result)

Enter a number: 11
Enter another number: 13
Sum: 24.0

In [49]:
# String concatenation with input
city = input("Enter your city: ")
country = input("Enter your country: ")
location = city +", " + country
print("You are in:", location)

Enter your city: aqaba
Enter your country: jordan
You are in: aqaba, jordan

In [50]:
# Multiple inputs
name, age = input("Enter your name and age sperated by space: ").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age sperated by space: abd 20
my name is abd and my age is 20