<a href="https://colab.research.google.com/github/z3tr-aut/ANN/blob/main/Copy_of_Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise** 1

In [ ]:
import math

v1 = float(input("Please enter the first float number (v1): "))
v2 = float(input("please enter the second float number (v2): "))

print(f"The entered numbers are: v1 = {v1}, v2 = {v2}")

v1_ceil = math.ceil(v1)
v1_floor = math.floor(v1)

v2_ceil = math.ceil(v2)
v2_floor = math.floor(v2)

v1_sqrt = math.sqrt(v1)
v2_sqrt = math.sqrt(v2)

remainder = math.remainder(v1, v2)


print(f"The ceil of v1 is: {v1_ceil}")
print(f"The floor of v1 is: {v1_floor}")

print(f"The ceil of v2 is: {v2_ceil}")
print(f"The floor of v2 is: {v2_floor}")

print(f"The remainder when v1 is divided by v2 is: {remainder}")

print(f"The square root of v1 is: {v1_sqrt}")
print(f"The square root of v2 is: {v2_sqrt}")

Please enter the first float number (v1): 1.2
please enter the second float number (v2): 2.8
The entered numbers are: v1 = 1.2, v2 = 2.8
The ceil of v1 is: 2
The floor of v1 is: 1
The ceil of v2 is: 3
The floor of v2 is: 2
The remainder when v1 is divided by v2 is: 1.2
The square root of v1 is: 1.0954451150103321
The square root of v2 is: 1.6733200530681511

**Exercise 2**

In [ ]:
import numpy as np

emp1 = {'ID': 2561, 'Department': 'CS', 'Name': 'Emp1', 'Salary': 600}
emp2 = {'ID': 7894, 'Department': 'Eng', 'Name': 'Emp2', 'Salary': 750}
emp3 = {'ID': 1254, 'Department': 'Qua', 'Name': 'Emp3', 'Salary': 680}
emp4 = {'ID': 7744, 'Department': 'Eng', 'Name': 'Emp4', 'Salary': 1520}

empDict = {
    'Emp1': emp1,
    'Emp2': emp2,
    'Emp3': emp3,
    'Emp4': emp4
}

print(f"Number of elements in empDict: {len(empDict)}")

genders = ['F', 'M', 'M', 'F']
for i, (key, employee) in enumerate(empDict.items()):
    employee['Gender'] = genders[i]

print("Keys of empDict:", empDict.keys())

print("Department of Emp4:", empDict['Emp4']['Department'])

empDict['Emp4']['Department'] = 'SWE'

print("Updated Department of Emp4:", empDict['Emp4']['Department'])

Number of elements in empDict: 4
Keys of empDict: dict_keys(['Emp1', 'Emp2', 'Emp3', 'Emp4'])
Department of Emp4: Eng
Updated Department of Emp4: SWE

**Exercise** **3**

In [ ]:
import pandas as pd

empDict = {
    'ID': [2561, 7894, 1254, 7744],
    'Department': ['CS', 'Eng', 'Qua', 'Eng'],
    'Name': ['Emp1', 'Emp2', 'Emp3', 'Emp4'],
    'Salary': [600, 750, 680, 1520],
    'Gender': ['F', 'M', 'M', 'F']
}

employee_df = pd.DataFrame(empDict)

def printDF(df):
    print("Shape of DataFrame:", df.shape)
    print("Columns of DataFrame:", df.columns.tolist())
    print("DataFrame:\n", df)

printDF(employee_df)

def printCol(df, column_label):
    if column_label in df.columns:
        print(f"Data in column '{column_label}':\n", df[column_label])
    else:
        print(f"Column '{column_label}' not found in DataFrame.")

printCol(employee_df, 'Department')

print("Third row in employee DataFrame:\n", employee_df.iloc[2])

employee_df.at[0, 'Name'] = 'YourName'

print("Second row in employee DataFrame:\n", employee_df.iloc[1])

avg_salary = employee_df['Salary'].mean()
min_salary = employee_df['Salary'].min()
max_salary = employee_df['Salary'].max()

print(f"Average Salary: {avg_salary}")
print(f"Minimum Salary: {min_salary}")
print(f"Maximum Salary: {max_salary}")

Shape of DataFrame: (4, 5)
Columns of DataFrame: ['ID', 'Department', 'Name', 'Salary', 'Gender']
DataFrame:
      ID Department  Name  Salary Gender
0  2561         CS  Emp1     600      F
1  7894        Eng  Emp2     750      M
2  1254        Qua  Emp3     680      M
3  7744        Eng  Emp4    1520      F
Data in column 'Department':
 0     CS
1    Eng
2    Qua
3    Eng
Name: Department, dtype: object
Third row in employee DataFrame:
 ID            1254
Department     Qua
Name          Emp3
Salary         680
Gender           M
Name: 2, dtype: object
Second row in employee DataFrame:
 ID            7894
Department     Eng
Name          Emp2
Salary         750
Gender           M
Name: 1, dtype: object
Average Salary: 887.5
Minimum Salary: 600
Maximum Salary: 1520